src/main/resources/xsd/klantDocument.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://klant.soap.web.rc.quintor.nl/"
        xmlns:aanmaken="http://www.quintor.nl/rc/gebruikeraanmaken/1.0"
        xmlns:ophalen="http://www.quintor.nl/rc/ophalenklant/1.0"
        xmlns:gbr="http://www.quintor.nl/rc/gebruiker/1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"

        xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://klant.soap.web.rc.quintor.nl/" name="KlantWebServiceSOAP">
    <types>
        <xsd:schema xmlns:tns="http://klant.soap.web.rc.quintor.nl/"
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                   version="1.0"
                   targetNamespace="http://klant.soap.web.rc.quintor.nl/">

            <xsd:import namespace="http://www.quintor.nl/rc/gebruiker/1.0" schemaLocation="gebruiker-v1.xsd" />
            <xsd:import namespace="http://www.quintor.nl/rc/gebruikeraanmaken/1.0" schemaLocation="aanmaken-gebruiker-v1.xsd"/>
            <xsd:import namespace="http://www.quintor.nl/rc/ophalenklant/1.0" schemaLocation="ophalen-klant-v1.xsd"/>

        </xsd:schema>
    </types>
    <message name="AanmakenGebruikerRequest">
        <part name="AanmakenGebruikerRequest" element="aanmaken:AanmakenGebruikerRequest"/>
    </message>
    <message name="AanmakenGebruikerResponse">
        <part name="AanmakenGebruikerResponse" element="aanmaken:AanmakenGebruikerResponse"/>
    </message>
    <message name="AanmakenGebruikerException">
        <part name="oorzaak" element="aanmaken:AanmakenGebruikerException" />
    </message>
    <message name="OphalenKlantRequest">
        <part name="OphalenKlantRequest" element="ophalen:OphalenKlantRequest"/>
    </message>
    <message name="OphalenKlantResponse">
        <part name="OphalenKlantResponse" element="ophalen:OphalenKlantResponse"/>
    </message>
    <portType name="KlantWebService">
        <operation name="createGebruiker" >
            <input
                   message="tns:AanmakenGebruikerRequest" />
            <output
                    message="tns:AanmakenGebruikerResponse"/>
            <fault message="tns:AanmakenGebruikerException" name="AanmakenGebruikerException" />
        </operation>
        <operation name="getKlantGegevens" >
            <input
                    message="tns:OphalenKlantRequest" />
            <output
                    message="tns:OphalenKlantResponse"/>

        </operation>
    </portType>
    <binding name="KlantDocumentPortBinding" type="tns:KlantWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="createGebruiker">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AanmakenGebruikerException">
                <soap:fault name="AanmakenGebruikerException" use="literal" />
            </fault>
        </operation>
        <operation name="getKlantGegevens">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="KlantWebServiceSOAP">
        <port name="KlantDocumentPort" binding="tns:KlantDocumentPortBinding">
            <soap:address location="http://localhost:8080/rc/klantDocument"/>
        </port>
    </service>
</definitions>
